.container {
    display: flex;
    justify-content: flex-start;

}

.display {
    float: left;
}
.card-body {
    border: 2px solid #5a5959;
    width: 50%;
    padding: 2px 2px 2px 5px;
}

.map-card {
    color: #fff;
    background-color: green;
}